{% extends 'listings/base.html' %}
{% block content %}
<h1>Mes groupes et leurs albums</h1>
    <ul>
        {% for list in lists %}
            <li>Groupe : {{ list.band.name }}</li>
            <ul>
                <li>
                    <p>Année : {{ list.years }}</p>
                    <p>Type de merch : {{ list.get_type_display }}</p>
                </li>
            </ul>
        <h3><a href="{% url 'list_detail' list.id %}">Voir le detail du merch</a> - <a href="{% url 'list_update' list.id %}">[Modifier]</a></h3>
        {% endfor %}
        <h3><a href="{% url 'band_list' %}"> Voir tout les groupes</a></h3>
    </ul>
<a href="{% url 'list_create' %}">Ajouter du merch</a>
{% endblock %}
